/* Body, Html */
html, body {
    color: #000000d9;
}

/* Tag <a> link */
a {
    transition: all linear 0.2s;
    color: #000000d9;
}
p, h5 {
    margin-bottom: 0px;
}

/* Banner */
.banner:hover .banner-test {
    opacity: 1;
    transition: all linear 0.5s;
}

/* ------- Product-Card -------- */

.product__card:hover .product__img-main {
    display: none;
    
}
.product__card:hover .product__img-extra {
    display: block;
    
}
.product__card:hover .product__info {
    display: none;
    
}
.product__card:hover .product__icon {
    display: flex;
    
}
.product__card:hover .btn__add-to-cart {
    display: flex
}

/* ------- Base CSS Buttons, Tags -------- */
.btn {
    text-transform: capitalize;   
    border-width: 1px;
    font-weight: 500;
    border-radius: 6px;
    transition: all linear 300ms;
    cursor: pointer;
}

.btn--login, .btn--signup {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 16px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(220, 38, 38, var(--tw-border-opacity));
    height: 40px;
    padding: 8px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    transition: all ease-in 0.2s;
    --tw-bg-opacity: 1;
    background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}
.btn--load-more {
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
    margin-top: 4rem/* 64px */;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(220, 38, 38, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;
}
.btn--send {
    border-radius: 0.375rem/* 6px */;
    text-transform: capitalize;
    font-weight: 400;
}
.btn---back-home {
    border-radius: 0.375rem/* 6px */;
}
.btn--size {
    border-radius: 0.375rem/* 6px */;
    border-radius: 0.375rem/* 6px */;
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
    padding-top: 0.75rem/* 12px */;
    padding-bottom: 0.75rem/* 12px */;
}
.btn.btn--size.active {
    --tw-border-opacity: 1;
    border-color: rgba(59, 130, 246, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.continue--shopping:hover .block--continue {
    display: block;
    animation: slideLeftToRight 0.4s ease-in forwards;
}

.btn--add-to-cart {
    border-width: 0px;
    background-color: #f51c1c;
    color: white;
    padding: 12px 26px; 
    font-size: 17px;
}

.btn--favourite {
    --tw-text-opacity: 1;
    color: rgba(180, 83, 9, var(--tw-text-opacity));
    border-width: 1px;
    padding: 11px;
    border-radius: 9999px;
    --tw-border-opacity: 1;
    border-color: rgba(180, 83, 9, var(--tw-border-opacity));
}
.btn--favourite:hover {
    color: white;
    background-color: #f51c1c;
    border-color: #f51c1c;
}

.btn:focus, input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn--update-cart, .btn--back {
    border-radius: 2px;
    text-transform: none;
    font-weight: 500;
    font-size: 15px;
    border-width: 2px;
    padding: 12px 28px;
    --tw-border-opacity: 1;
    border-color: rgba(220, 38, 38, var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.btn--apply {
    border-width: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
    border-radius: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    --tw-text-opacity: 1;
    color: rgba(220, 38, 38, var(--tw-text-opacity));
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

/* Tag Name */
.tag-sale {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-size: 15px;
    background-color: #f51c1c;
    padding: 10px 8px;
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.tag-new {
    display: flex;
    justify-content: center;
    padding-left: 8px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    letter-spacing: 0.05em;
    background-color: #f51c1c;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.tag-category {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;;
    height: 28px;
    border-radius: 9999px;
    transition: all linear 0.2s;
}

/* Button Scroll To Top */
.scroll-to-top {
    position: fixed;
    bottom: 48px;
    right: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    --tw-bg-opacity: 1;
    background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
    color: #fff;
    z-index: 40;
    cursor: pointer;
    border: 2px solid #fff;
    --tw-bg-opacity: 1;
    background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
    transition: all linear 150ms;
}
.icon__scroll-to-top {
    display: flex;
    animation: bounce 1s infinite;
    justify-content: center;
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}

/* Dropdown  */
.dropdown-menu:hover .dropdown-block {
    display: flex;
    opacity: 1;
    animation: fade 0.6s ease-in forwards;
}

/* Customize CSS Swiper */
.swiper-button-next { 
    color: #888 !important;
}
.swiper-button-next::after { 
    font-size: 24px !important;
    font-weight: 800;
}
.swiper-button-prev { 
    color: #888 !important; 
}
.swiper-button-prev::after { 
    font-size: 24px !important;
    font-weight: 800;
}

