/* Body, Html */
html, body {
    @apply text-gray-800;
}

/* Tag <a> link */
a {
    @apply transition;
    @apply ease-linear;
    @apply duration-200;
}

/* Banner */
.banner:hover .banner-test {
    @apply opacity-100;
    @apply transition;
    @apply ease-linear;
    @apply duration-500;
}

/* ------- Product-Card -------- */

.product__card:hover .product__img-main {
    @apply hidden;
    
}
.product__card:hover .product__img-extra {
    @apply block;
    
}
.product__card:hover .product__info {
    @apply hidden;
    
}
.product__card:hover .product__icon {
    @apply flex;
    
}
.product__card:hover .btn__add-to-cart {
    @apply flex;
}

/* ------- Base CSS Buttons, Tags -------- */
.btn {
    @apply uppercase;     
    @apply border;
    @apply font-bold;
    @apply rounded-full;
    @apply transition;
    @apply ease-linear;
    @apply duration-200;
    @apply cursor-pointer;
}

.btn--login, .btn--signup {
    @apply uppercase        ;
    @apply font-bold;
    @apply text-white;
    @apply text-16;
    @apply border;
    @apply border-red-600;
    @apply h-10;
    @apply px-4;
    @apply rounded-md;
    @apply inline-flex;
    @apply items-center;
    @apply transition;
    @apply ease-linear;
    @apply duration-200;
    @apply py-2;
    @apply bg-red-600;
}
.btn--load-more {
    @apply py-3;
    @apply mt-16;
    @apply border;
    @apply border-red-600;
    @apply text-red-600;
    @apply px-8;
}
.btn--send {
    @apply rounded-md;
    @apply capitalize;
    @apply font-normal;
}
.btn---back-home {
    @apply rounded-md;
}
.btn--size {
    @apply  rounded-md;
    @apply border-gray-300;
    @apply text-gray-600;
    @apply py-3;
}
.btn.btn--size.active {
    @apply border-yellow-600;
    @apply text-yellow-600;
}

.icon__add-to-cart:hover .alt--cart {
    @apply block;
    @apply transition;
    @apply ease-in;
    @apply duration-500;
}

.continue--shopping:hover .block--continue {
    @apply block;
    @apply animate-slide-left;
}

.btn--add-to-cart {
    @apply border-0;
    background-color: #f51c1c;
    @apply text-white;
    @apply py-2;
    @apply px-6;
}
.btn--add-to-cart:hover {
    @apply bg-gray-900;
}
.btn--favourite {
    @apply text-yellow-700;
    @apply border-0;
    padding: 11px;
    @apply rounded-full;
    @apply border;
    @apply border-yellow-700;
}
.btn--favourite:hover {
    @apply text-white;
    background-color: #f51c1c;
    border-color: #f51c1c;
}

.btn:focus, input:focus {
    @apply outline-none;
}

.btn--update-cart, .btn--back {
    @apply rounded-sm;
    @apply normal-case;
    @apply font-medium;
    @apply text-15;
    @apply border-2;
    @apply py-3;
    @apply px-7;
    @apply border-red-600;
    @apply text-red-600;
}

.btn--apply {
    @apply border-0;
    @apply bg-gray-300;
    @apply rounded-sm;
    @apply py-3;
    @apply text-red-600;
    @apply text-15;
    @apply capitalize;
    @apply font-medium;
}

/* Tag Name */
.tag-sale {
    @apply inline-block;
    @apply px-2;
    @apply text-white;
    @apply text-14;
    @apply tracking-wider;
    background-color: #f51c1c;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.tag-new {
    @apply flex;
    @apply justify-center;
    @apply pl-2;
    @apply text-white;
    @apply text-14;
    @apply rounded-md;
    @apply tracking-wider;
    background-color: #f51c1c;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.tag-category {
    @apply flex;
    @apply items-center;
    @apply text-16;
    @apply font-semibold;
    @apply px-4;
    @apply h-7;
    @apply rounded-full;
    @apply transition ;
    @apply ease-linear;
    @apply duration-150;
}
.tag-product {
    background-color: #f51c1c;
    @apply text-white;
    @apply inline-block;
    @apply px-2;
    @apply py-1;
    @apply rounded;
}

/* Button Scroll To Top */
.scroll-to-top {
    @apply fixed;
    @apply bottom-12;
    @apply right-5;
    @apply w-11;
    @apply h-11;
    @apply rounded-full;
    @apply bg-red-600;
    @apply text-white;
    @apply z-40;
    @apply cursor-pointer;
    @apply border-2;
    @apply border-white;
    @apply shadow-lg;
    @apply transition ;
    @apply ease-linear;
    @apply duration-150;
}
.icon__scroll-to-top {
    @apply flex;
    @apply animate-bounce;
    @apply justify-center;
    @apply text-3xl;
}

/* Dropdown  */
.dropdown-menu:hover .dropdown-block {
    @apply flex;
    @apply opacity-100;
    animation: fade 0.6s ease-in forwards;
}

/* Customize CSS Swiper */
.swiper-button-next { 
    color: #888 !important;
}
.swiper-button-next::after { 
    font-size: 24px !important;
    font-weight: 800;
}
.swiper-button-prev { 
    color: #888 !important; 
}
.swiper-button-prev::after { 
    font-size: 24px !important;
    font-weight: 800;
}

