.ant-drawer-close:focus {
    outline: none;
}

.input-search-product {
    margin-bottom: 20px;
}

.input-search-product .ant-btn.ant-btn-primary.ant-btn-lg.ant-input-search-button {
    background-color: #2980b9;
    width: 120px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #e67e22;
    color: #fff;
}
.input-search-product .ant-btn.ant-btn-primary.ant-btn-lg.ant-input-search-button:hover {
    
    box-shadow: inset 120px 0 0 0 #1abc9c;
}

.input-signin-mail .ant-btn.ant-btn-primary.ant-btn-lg.ant-input-search-button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}